@charset "utf-8";
@import url("share.css");
/* CSS Document */

html,body{
	font:100%/120% "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-rendering:optimizelegibility;
}

.page-container{
	position:relative;
	margin:0px auto;
	width:1007px;
}

.site-header-container{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:999;
	font-family:"source-sans-pro","Helvetica Neue",sns-serif;
}


.header-wrapper{
	box-shadow:0px 1px 4px rgba(0,0,0,0.1);
	border-top:3px solid rgb(102,102,102);
	border-bottom:1px solid rgb(221,221,221);
}

.site-header{
	position:relative;
	padding:10px 17px 14px;
	-moz-user-select:none;
	background:none repeat scroll 0% 0% rgb(255,255,255);
	min-width:1024px;
	max-width:1280px;
	margin-right:auto;
	margin-left:auto;
}

header ul{
	display:block;
}

li{
	display:list-item;
	text-align:-webkit-match-parent;
}

header.site-header{
	padding-bottom:15px;
}
	
.site-header-logo-container{
	margin:0px;
}

h1{
	font-size:2em;
	margin:0.67em 0px;
}
	
.image-replace{
	display:block;
	text-indent:-100em;
	overflow:hidden;
}

a, a:visited, a:active{
	color:rgb(25,25,25);
	text-decoration:none;
}

.horizontal-list, .plain-list{
	overflow:hidden;
	margin:0px;
	padding:0px;
	list-style:none outside none;
}

.nav-top-stories #page-nav .page-nav-top-stories,
.nav-popular-stories #page-nav .page-nav-popular-stories,
.nav-new-stories #page-nav .page-nav-new-stories{
	border-top-color:rgb(51,51,51);
}

.nav-top-stories #page-nav .page-nav-top-stories a,
.nav-popular-stories #page-nav .page-nav-popular-stories a,
.nav-new-stories #page-nav .page-nav-new-stories a{
	color:rgb(0,0,0);
	background:none repeat scroll 0% 0% rgb(247,247,247);
}

	
#page-nav.horizontal-list li:first-child a{
	border-left:1px solid rgb(243,243,243);
}
	

#site-nav.horizontal-list li{
	margin:0px 23px 0px 0px;
}
	
.horizontal-list > li{
	float:left;
	margin:0px 0.5em;
}

.horizontal-list > li:last-child{
	margin-right:0px !important;
}

.tooltip{
	position:absolute;
	z-index:999;
	padding:17px 17px 0px;
	margin:-87px 0px 0px -17px;
	border:1px solid rgba(0,0,0,0.2);
	background-clip:padding-box;
	color:rgb(68,68,68);
	font-size:12px;
	border-radius:5px 5px 5px 5px;
	box-shadow:0px 2px 5px rgba(0,0,0,0.15);
	font-weight:400;
}

.tooltip-grey{
	background-color:rgba(250,250,250,0.98);
}

.tooltip-fade{
	opacity:0;
	transition:opacity 100ms linear 100ms;
}



.btn-facebook-auth .auth-ico{
	width:18px;
	height:18px;
	margin-left:-30px;
	background:url(login-fb.jpg) no-repeat scroll 0% 0% transparent;
}

.btn-twitter-auth .auth-ico{
	width:18px;
	height:18px;
	margin-left:-30px;
	background:url(login-twitter.jpg) no-repeat scroll 0% 0% transparent;
}

.btn-service-auth .auth-ico{
	position:absolute;
}

#btn-twitter-auth, .btn-twitter-auth{
	margin:0px 0px 10px;
	background:linear-gradient(to bottom, rgb(26,185,240)0%, rgb(30,167,231)50%, rgb(34,154,255)100%) repeat scroll 0% 0% transparent;
}

.digg-social-twitter{
	background-image:url(icon-twitter.jpg);
}

.digg-social-icon{
	width:20px;
	height:20px;
}

.nav-top-stories #page-nav .page-nav-top-stories, .nav-popular-stories #page-nav .page-nav-popular-stories, .nav-new-stories #page-nav .page-nav-new-stories{
	border-top-color:rgb(51,51,51);
}

.nav-top-stories #page-nav .page-nav-top-stories a, .nav-popular-stories #page-nav .page-nav-popular-stories a, .nav-new-stories #page-nav .page-nav-new-stories a{
	color:rgb(0,0,0);
	background:none repeat scroll 0% 0% rgb(247,247,247);
}

.digg-social-fb{
	background-image:url(icon-fb.jpg);
}

.digg-social-gplus{
	background-image:url(icon-google.jpg);
}
	
	
	
	
	