@charset "utf-8";
/* CSS Document */

#site-header-container{

}

#site-header-logo{
	width:62px;
	height:27px;
	background: url(logo.jpg) no-repeat scroll 0px 0px transparent;
}

#page-nav{
	position:absolute;
	left:100px;
	top:-3px;
	font-size:14px;
}


#page-nav a{
	display:block;
	border-right:1px solid rgb(243,243,243);
	padding:14px 0px 17px;
	width:100px;
	text-align:center;
	transition:all 80ms ease 0s;
}

#page-nav.horizontal-list{
	margin:0px 9px 0px 0px;
}
	
#page-nav.horizontal-list li{
	border-top:3px solid rgb(102,102,102);
	margin:0px;
}

#site-nav{
	position:absolute;
	right:90px;
	top:14px;
	padding-right:20px;
	font-size:14px;
	overflow:visible;
}

#site-nav a{
	color:rgb(102,102,102);
	text-shadow:0px 1px rgb(255,255,255);
}

#site-nav.horizontal-list li{
	margin:0px 23px 0px 0px;
}

#site-nav-user-widget{
	cursor:pointer;
	color:rgb(102,102,102);
	padding:0px 0px 5px;
}

#site-nav-user-widget #site-nav-signin{
	display:block;
	padding-bottom:7px;
}

#site-nav-user-widget:hover .tooltip-fade{
	z-index:999;
	opacity:1;
	height:auto;
	width:auto;
	overflow:visible;
	border:1px solid rgba(0,0,0,0.18);
	padding:17px 17px 0px;
}

#site-nav-user-widget .tooltip{
	margin-top:5px;
	margin-left:-90px;
	width:210px;
	padding-bottom:7px;
}

#site-nav-user-widget .tooltip-fade{
	height:0px;
	width:0px;
	overflow:hidden;
	border:0px none;
	padding:0px;
}

#site-nav-user-widget a.btn-facebook-auth, #site-nav-user-widget a.btn-twitter-auth{
	font-size:13px;
	color:rgb(255,255,255);
	text-shadow:0px -1px rgba(0,0,0,0.25);
	box-shadow:0px 1px rgb(255,255,255);
}

#site-nav-signin a{
	white-space:nowrap;
}

#btn-facebook-auth, .btn-facebook-auth{
	margin:0px 0px 10px;
	background:-moz-linear-gradient(center top, rgb(87,113,167) 0%, rgb(59,89,152) 100%) repeat scroll 0% 0% transparent;
}

#btn-facebook-auth.btn-service-auth, #btn-twitter-auth.btn-service-auth, .btn-service-auth{
	font-weight:bold;
	border-radius:3px 3px 3px 3px;
	cursor:pointer;
	display:block;
	position:relative;
	padding:9px 10px 9px 42px;
}

#site-header-digg-social .horizontal-list li{
	margin:0px 3px 0px 0px;
}

#site-header-digg-social{
	position:absolute;
	right:20px;
	top:13px;
}

#site-header-digg-social .list-label, #site-header-digg-social .horizontal-list{
	float:left;
}










