<div id='blogWrapper' style="width:750px;">
    <div id='blogHeader' style="width:650px;float: left">
        <h2>撰写新文章</h2>
    </div>
    <div id="actionWrapper" style="width:100px;height: 59px;float: left">
        <input id='submit' class='largeBtn' style="margin-top: 20px;" type='button' value='提交'/>
    </div>
    <div id='titleWrapper' style="width:640px;height:100px;margin-top:30px;float: left">
        <div>标题:</div>
        <input id='title'
               style="float:right;-webkit-margin-before: 1.33em;-webkit-margin-after: 1.33em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;width: 640px;"/>
    </div>
    <div id="categoryWrapper" style="width:100px;height:100px;margin-top: 30px;float: right">
        <div>分类:</div>
        <select id='categorySel'
                style="-webkit-margin-before: 1.33em;-webkit-margin-after: 1.33em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;width: 100px;"></select>
    </div>
    <div id="contentWrapper" style="width:100%;height:100px;">
        <textarea id="content" name="content" rows="20" cols="100" style="width: 100%; height: 400px">
        </textarea><br/><br/>
    </div>
</div>