<div id='Wrapper' style="width:750px;">
    <div class="hd" style="width:750px; height:32px">
        <div class="newsTitle" id="newsTitle" style="margin-top: 10px">业务设置</div>
        <div id="actionWrapper" style="width:100px;height: 59px;float: right">
            <input id='submit' class='largeBtn' type='button' value='提交'/>
        </div>
    </div>

    <table border="0" style="width:100%">
        <tr>
            <p class="hs-description" style="color: #666;padding: 5px 0 0 5px;line-height: 22px;">以下选项都是必选项，并且均可多选</p>
        </tr>
        <tr>
            <td width="100px;">业务地区*</td>
            <td width="100px">
                <select id="provinceSel" name="provinceSel" class="chosen" style="width: 100px;">
                </select>
                <select id="citySel" name="citySel" class="chosen" style="width: 100px;" >
                </select>
            </td>
            <td width="550px">

            </td>
        </tr>
        <tr>
            <td width="100px;">贷款用途*</td>
            <td width="100px">
                <select id="usesofloanSel" class="chosen" multiple="true" style="width:400px;" >
                    <option value="消费贷款">消费贷款</option>
                    <option value="短期周转贷款">短期周转贷款</option>
                    <option value="个体户经营贷款">个体户经营贷款</option>
                    <option value="装修贷款">装修贷款</option>
                    <option value="创业贷款">创业贷款</option>
                    <option value="旅游贷款">旅游贷款</option>
                    <option value="一手房按揭贷款">一手房按揭贷款</option>
                    <option value="公积金贷款">公积金贷款</option>
                    <option value="二手房按揭贷款">二手房按揭贷款</option>
                    <option value="新车按揭贷款">新车按揭贷款</option>
                    <option value="购二手车">购二手车</option>
                    <option value="经营性流动资金贷款">经营性流动资金贷款</option>
                    <option value="固定资产贷款">固定资产贷款</option>
                    <option value="设备融资租赁">设备融资租赁</option>
                    <option value="贸易融资">贸易融资</option>
                    <option value="票据贴现">票据贴现</option>
                    <option value="项目贷款">项目贷款</option>
                </select>
            </td>
            <td width="550px">
            </td>
        </tr>
        <tr>
            <td width="100px;">擅长行业*</td>
            <td width="100px">
                <select id="specialitySel" class="chosen" multiple="true" style="width:400px;" >
                    <option value="造纸印刷">造纸印刷</option>
                    <option value="机械设备">机械设备</option>
                    <option value="房地产">房地产</option>
                    <option value="批发零售">批发零售</option>
                    <option value="金属非金属">金属非金属</option>
                    <option value="纺织服装">纺织服装</option>
                    <option value="石油化工">石油化工</option>
                    <option value="食品饮料">食品饮料</option>
                    <option value="建筑">建筑</option>
                    <option value="木材家具">木材家具</option>
                    <option value="交通物流仓储">交通物流仓储</option>
                    <option value="旅游住宿餐饮">旅游住宿餐饮</option>
                    <option value="农林渔牧">农林渔牧</option>
                    <option value="文体用品工艺品">文体用品工艺品</option>
                    <option value="居民服务">居民服务</option>
                    <option value="燃气供水">燃气供水</option>
                    <option value="水利环境">水利环境</option>
                    <option value="电力能源">电力能源</option>
                    <option value="IT">IT</option>
                    <option value="互联网">互联网</option>
                    <option value="电信及增值">电信及增值</option>
                    <option value="传媒文化">传媒文化</option>
                    <option value="科教培训">科教培训</option>
                    <option value="体育娱乐">体育娱乐</option>
                    <option value="医疗保健">医疗保健</option>
                    <option value="租赁和商务服务">租赁和商务服务</option>
                    <option value="金融">金融</option>
                    <option value="采矿">采矿</option>
                    <option value="仪电仪表">仪电仪表</option>
                    <option value="电子电器">电子电器</option>
                    <option value="社会组织">社会组织</option>
                </select>
            </td>
            <td width="550px">

            </td>
        </tr>
        <tr>
            <td width="100px;">擅长用户*</td>
            <td width="100px">
                <select id="clientsSel" class="chosen" multiple="true" style="width:400px;" >
                    <option value="公务员/律师/教师">公务员/律师/教师</option>
                    <option value="企业法人">企业法人</option>
                    <option value="个体工商户">个体工商户</option>
                    <option value="公司职员">公司职员</option>
                    <option value="学生">学生</option>
                    <option value="自由职业者">自由职业者</option>
                </select>
            </td>
            <td width="550px">

            </td>
        </tr>
        <tr>
            <td width="100px;">贷款类型*</td>
            <td width="100px">
                <select id="lendtypeSel" class="chosen" multiple="true" style="width:400px;" >
                    <option value="房产/固定资产抵押">房产/固定资产抵押</option>
                    <option value="汽车抵押">汽车抵押</option>
                    <option value="贵重物品">贵重物品</option>
                    <option value="物资抵押">物资抵押</option>
                    <option value="财产权利">财产权利</option>
                    <option value="器械设备">器械设备</option>
                    <option value="贸易单据">贸易单据</option>
                </select>
            </td>
            <td width="550px">

            </td>
        </tr>

    </table>
</div>
<script type="text/javascript" src="js/cArea.js"></script>