<div id='Wrapper' style="width:750px;">
    <div class="hd" style="width:750px; height:32px">
        <div id='Header' class="newsTitle" style="width:320px;float: left">
            <div style="margin-top: 8px;margin-left: 10px;font-size: 1.5em;font-weight: bold;">业务设置选项</div>
        </div>
        <div id="actionWrapper" style="width:100px;height: 59px;float: right">
            <input id='submit' class='largeBtn' type='button' value='提交'/>
        </div>
    </div>

    <table border="0" style="width:100%">
        <tr>
            <p class="hs-description" style="color: #666;padding: 5px 0 0 5px;line-height: 22px;">以下选项都是必选项，并且均可多选</p>
        </tr>
        <tr>
            <td width="100px;">业务地区*</td>
            <td width="100px">
                <select id="areasSel" class="chosen" multiple="true" style="width:400px;" ></select>
            </td>
            <td width="550px">

            </td>
        </tr>
        <tr>
            <td width="100px;">贷款用途*</td>
            <td width="100px">
                <select id="usesofloanSel" class="chosen" multiple="true" style="width:400px;" ></select>
            </td>
            <td width="550px">

            </td>
        </tr>
        <tr>
            <td width="100px;">擅长行业*</td>
            <td width="100px">
                <select id="specialitySel" class="chosen" multiple="true" style="width:400px;" ></select>
            </td>
            <td width="550px">

            </td>
        </tr>
        <tr>
            <td width="100px;">擅长用户*</td>
            <td width="100px">
                <select id="clientsSel" class="chosen" multiple="true" style="width:400px;" ></select>
            </td>
            <td width="550px">

            </td>
        </tr>
        <tr>
            <td width="100px;">贷款类型*</td>
            <td width="100px">
                <select id="lendtypeSel" class="chosen" multiple="true" style="width:400px;" ></select>
            </td>
            <td width="550px">

            </td>
        </tr>

    </table>
</div>