<div id='Wrapper' style="width:750px;">
    <div class="hd" style="width:750px; height:32px">
        <div class="newsTitle" id="newsTitle" style="margin-top: 10px">修改密码</div>
        <div id="actionWrapper" style="width:100px;height: 59px;float: right">
			<button id="submit" type="button" class="btn btn-info">提交</button>
        </div>
    </div>

    <table border="0" style="width:100%">
        <tr>
            <p class="hs-description" style="color: #666;padding: 5px 0 0 5px;line-height: 22px;">以下带‘*’为必填，否则不能进行提交。</p>
        </tr>
        <tr>
            <td width="110px;">原始密码*</td>
            <td width="640px">
                <input id="oldPWD" type="password" class='form-control' style="width: 200px;"/>
            </td>
        </tr>
        <tr>
            <td width="110px;">新密码*</td>
            <td width="640px">
                <input id="newPWD" type="password" class='form-control' style="width: 200px;"/>
            </td>
        </tr>
        <tr>
            <td width="110px;">重复新密码*</td>
            <td width="640px">
                <input id="newPWD2" type="password" class='form-control' style="width: 200px;"/>
            </td>
        </tr>
    </table>
</div>