<div id='Wrapper' style="width:750px;">
    <div class="hd" style="width:750px; height:32px">
        <div id='Header' class="newsTitle" style="width:320px;float: left">
            <div style="margin-top: 8px;margin-left: 10px;font-size: 1.5em;font-weight: bold;">个人信息</div>
        </div>
        <div id="actionWrapper" style="width:100px;height: 59px;float: right">
            <input id='submit' class='largeBtn' type='button' value='提交'/>
        </div>
    </div>

    <table border="0" style="width:100%">
        <tr>
            <p class="hs-description" style="color: #666;padding: 5px 0 0 5px;line-height: 22px;">以下带‘*’为必填，否则不能进行提交。</p>
        </tr>
        <td width="100px;">头像</td>
        <td width="650px;">

        </td>
        <tr>
            <td width="110px;">帐号</td>
            <td width="640px">
                <div class='blodChar'></div>
            </td>
        </tr>
        <tr>
            <td width="110px;">用户类型</td>
            <td width="640px">
                <div class='blodChar'></div>
            </td>
        </tr>
        <tr>
            <td width="110px;">现居地</td>
            <td width="640px">
                <div class='blodChar'></div>
            </td>
        </tr>
        <tr>
            <td width="110px;">联系人姓名*</td>
            <td width="640px">
                <input id="tel" class='input' />
            </td>
        </tr>
        <tr>
            <td width="110px;">联系人电话*</td>
            <td width="640px">
                <input id="tel" class='input' />
            </td>
        </tr>
        <tr>
            <td width="110px;">QQ</td>
            <td width="640px">
                <input id="tel" class='input' />
            </td>
        </tr>
        <tr>
            <td width="110px;">原始密码</td>
            <td width="640px">
                <input id="tel" class='input' />
            </td>
        </tr>
        <tr>
            <td width="110px;">新密码</td>
            <td width="640px">
                <input id="tel" class='input' />
            </td>
        </tr>
        <tr>
            <td width="110px;">重复新密码</td>
            <td width="640px">
                <input id="tel" class='input' />
            </td>
        </tr>
    </table>
</div>