<div id="contactContainer" style="margin: 10px">
    <fieldset>
        <legend class="title3">联系方式</legend>
    </fieldset>
    <div class="item">
        <div class="label">电话</div>
        <div class="con important">${tel}</div>
    </div>
    <div class="item">
        <div class="label">邮箱</div>
        <div class="con">${email}</div>
    </div>
    <div class="item">
        <div class="label">个人站点</div>
        <div class="con">${site}</div>
    </div>
    <div class="item">
        <div class="label">QQ</div>
        <div class="con"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=${qq}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:${qq}:44" alt="联系我" title="联系我"></a></div>
    </div>
</div>