<div id="article_details" class="details">
    <div class="article-title">
        <h3 style="font: normal 20px/30px 'Microsoft YaHei">
            ${title}
        </h3>
    </div>
    <div class="article-manage" style="color: #999; font: normal 12px/24px Arial;text-align: right">
        <span class="link-date" style="margin: 0 5px 0 0">${date}</span>
        <span class="link-view" style="padding: 0 0 0 14px; margin: 0 5px"><span id="visit_${id}"></span>人阅读</span>
        <span class="link-collect" style="margin: 0 5px"><span id="favouriteCount"></span>人<a href="javascript:void(0);" onclick="javascript:addFavourite('${type}', '${id}', '${poster.username}')"><span id="isFav_${id}" fid="${id}"></span></a></span>
    </div>
    <table bgcolor="#f0f0f0" border="0" cellspacing="1" style="width: 100%">
        <tbody>
        <tr>
            <td width="10%" height="32" align="left" valign="middle" bgcolor="#fbfbfb">贷款地区：</td>
            <td width="40%" height="32" align="left" valign="middle" bgcolor="#fbfbfb">${location}
            </td>
            <td width="10%" height="32" align="left" valign="middle" bgcolor="#fbfbfb">贷款额度：</td>
            <td width="40%" height="32" align="left" valign="middle" bgcolor="#fbfbfb">${amount}    万              </td>
        </tr>
        <tr>
            <td height="32" align="left" valign="middle" bgcolor="#FFFFFF">借贷类型：</td>
            <td height="32" align="left" valign="middle" bgcolor="#FFFFFF">${lendType}
            </td>
            <td height="32" align="left" valign="middle" bgcolor="#FFFFFF">有无抵押：</td>
            <td height="32" align="left" valign="middle" bgcolor="#FFFFFF">${hasPawn}</td>
        </tr>
        <tr>
            <td height="32" align="left" valign="middle" bgcolor="#FBFBFB">贷款用途：</td>
            <td height="32" align="left" valign="middle" bgcolor="#FBFBFB">${usesofloan}                            </td>
            <td height="32" align="left" valign="middle" bgcolor="#FBFBFB">贷款期限：</td>
            <td height="32" align="left" valign="middle" bgcolor="#FBFBFB">${startTime} 至 ${endTime}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="newsTitle" style="margin-top: 20px">贷款详情</div>
    <div id="article-content" class="article-content" style="font-family: Courier New, Console, Verdana, '微软雅黑'; font: normal 14px/26px Arial">
        ${content}
    </div>
</div>