<table class="footTable">
    <tr>
        <td class="foot1" id="foot1"><a href=".">青帝首页</a></td>
        <td class="foot1" id="foot1"><a href="#">网站地图</a></td>
        <td class="foot1" id="foot1"><a href="#">关于青帝</a></td>
        <td class="foot1" id="foot1"><a href="#">服务条款</a></td>
        <td class="foot1" id="foot1"><a href="#">法律声明</a></td>
        <td class="foot1" id="foot1"><a href="#">诚聘英才</a></td>
        <td class="foot1" id="foot1"><a href="#">联系我们</a></td>
        <td class="foot1" id="foot1"><a href="#">广告服务</a></td>
        <td class="foot1" id="foot1"><a href="#">资讯中心</a></td>
        <td class="foot1" id="foot1"><a href="#">新手入门</a></td>
    </tr>
    <tr>
        <td class="foot2" id="foot2" colspan="10">Copyright ©1997-2014 QingDy Corporation.All Rights Reserved.
            [公司名称]
        </td>
    </tr>
    <tr>
        <td class="foot3" id="foot3" colspan="10">[备案号]</td>
    </tr>
    <tr>
        <td class="foot4" id="foot4" colspan="10">青帝网 版权所有
            <!--<span id="cnzz_stat_icon_1000077791"><a href="http://www.cnzz.com/stat/website.php?web_id=1000077791" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/pic2.gif"></a></span>-->
        </td>
    </tr>
</table>