<a href="${link}" target="_blank">
<div style="height: 147px; width: 213px; float: left; margin: 3px; background-color:#fdf9f0;">
    <div style="margin: 25px 5px 25px 5px; width: 97px; height: 97px; float: left;">
        <img src="${poster.avatar}" style="width: 97px; height: 97px"/>
    </div>
    <div style="float: right; width: 106px; height: 147px;">
        <div style="margin: 25px 5px 5px 5px; height: 50px">
            ${title}${cName}
        </div>
        <div style="margin: 0px 5px 5px 5px;">
            ${content}
        </div>
    </div>
</div>
</a>