<script type="text/javascript" src="js/jQuery.select2Buttons.js"></script>
<link rel="stylesheet" href="css/select2Buttons.css" type="text/css" />
<style type="text/css">
    .filterTitle {
        text-align: right;
        font-weight: bold;
        line-height: 25px;
    }
</style>
<table id="filterTable" style="width: 99%; height: 99%; margin: auto">
    <tr>
        <td class="filterTitle" width="100px;">条件查询：</td>
        <td width="650px;">
            <select name="simple-select">
                <option>不限</option>
                <option>担保公司</option>
                <option>小额贷款公司</option>
                <option>典当行</option>
                <option>民间借贷</option>
                <option>信托公司</option>
                <option>信用社</option>
                <option>投资公司</option>
                <option>村镇银行</option>
                <option>消费金融公司</option>
                <option>汽车金融公司</option>
                <option>融资租赁公司</option>
                <option>贷款中介</option>
            </select>
        </td>
    </tr>
</table>
<script>
    $('select[name=simple-select]').select2Buttons();
</script>
