<a target="_blank" href="${link}">
    <div class="hover"
         style="width:786px;height:98px;border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 8px 0px;">
        <div class="p_left"><img width="80" height="80" alt="${poster.lastname}经理" src="${poster.avatar}">
        </div>
        <div class="p_right" style="width: 690px; box-sizing: content-box;">
            <h5 style="margin-top: 5px">${poster.lastname}${poster.firstname}</h5>

            <div class="clear_both"></div>
            <span class="p1">${clientLocation}</span>
            <span class="p2" style="width: 400px;">贷款用途： ${usesofloan}</span>
            <span style="width: 40px">电话：</span>
            <span class="p4">${cPhoneNumber}</span>

            <div class="clear_both"></div>
            <p>${content}</p>
        </div>
    </div>
</a>