<div id='Wrapper' style="width:770px;">
    <h3>配置我的店铺</h3>
    <div class="form-group">
        <form action="/rest/metadata/upload/skin/lender" enctype="multipart/form-data" method="post">
            <p class="help-block">支持.png，.jpg，.gif。请上传1000×300的图片</p>
            <input type="file" name="file_upload" id="file_upload" />
			<input name="upload" id="upload" type="button" value="上传" class="btn btn-info" style="display: block; float: left; margin-left: 10px">
        </form>
    </div>
</div>