<a target="_blank" href="getLink(LOAN, response[i].id)" style="font-size: 12px;">
    <div class="hover"
         style="width:766px;height:95px;border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 8px 0px; ">
        <div class="p_right" style="height: 95px">
            <h5>${title}</h5>

            <div class="clear_both"></div>
            <span class="p1">${location}</span>
            <span class="p2">贷款用途： ${usesofloan} </span>
            <span class="p2">抵押贷款</span>
            <span style="width: 40px">额度：</span>
            <span class="p4"> ${amount} 万</span>

            <div class="clear_both"></div>
            <p> ${content} </p>
        </div>
    </div>
</a>