<div id='Wrapper' style="width:750px;">
    <h3>
        我的人气(日访问量)
    </h3>
    <canvas id="canvas" height="300" width="760"></canvas>
<!--    <div id="chart_div" style="width: 780px; height: 500px;"></div>-->
    <h3>
        我的贷款
    </h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th style="width: 80%">产品名称</th>
            <th>人气</th>
        </tr>
        </thead>
        <tbody id="productBody">
        </tbody>
    </table>
    <h3>
        我的文章
    </h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th style="width: 80%">产品名称</th>
            <th>人气</th>
        </tr>
        </thead>
        <tbody id="blogBody">
        </tbody>
    </table>
</div>