<a target="_blank" href="getLink(PRODUCT, response[i].mall.id) ">
    <div class="hover"
         style="width:786px;height:78px;border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 8px 0px;">
        <div class="p_right">
            <h5>${title}</h5>

            <div class="clear_both"></div>
            <span class="p1">${verify}</span>
            <span class="p2">借贷者：${loaner.lastname}${loaner.firstname}</span>
            <span class="p2">借贷时间：${postDate}</span>
            <span class="p4">${tel}</span>

            <div class="clear_both"></div>
            <p>${comments}</p>
        </div>
    </div>
</a>