<div id="article_details" class="details">
    <div class="article-title">
        <h3 style="font: normal 20px/30px 'Microsoft YaHei">
            ${title}
        </h3>
    </div>
    <div class="article-manage" style="color: #999; font: normal 12px/24px Arial;text-align: right">
        <span class="link-categories" style="float: left; margin: 0 5px">分类：<a href="">${classes}${category}</a></span>
        <span class="link-date" style="margin: 0 5px 0 0">${date}</span>
        <span class="link-view" style="padding: 0 0 0 14px; margin: 0 5px">${rnum}人阅读</span>
        <span class="link-collect" style="margin: 0 5px"><span id="favouriteCount"></span>人<a href="javascript:void(0);" onclick="javascript:collect('${id}}')">收藏</a></span>
    </div>
    <div id="article-content" class="article-content" style="margin: 20px 0 0 0; font-family: Courier New, Console, Verdana, '微软雅黑'; font: normal 14px/26px Arial">

    </div>
</div>