<form action="" method="post" name="productForm" id="productForm">
<div id='Wrapper' style="width:750px; height:100%">
    <div class="hd" style="width:750px; height:32px">
        <div class="newsTitle" id="newsTitle" style="margin-top: 10px">发布产品</div>
        <div id="actionWrapper" style="width:160px;height: 59px;float: right">
            <input id='preview' class='largeBtn' style="float:left" type='button' value='预览产品'/>
            <input id='submit' class='largeBtn' style="float:right" type='button' value='提交'/>
        </div>
    </div>

    <table border="0" style="width:100%;height:80%">
        <tr>
            <p class="hs-description" style="color: #666;padding: 5px 0 0 5px;line-height: 22px;">请填写完整的店铺资料，带‘*’为必填，否则不能进行任何操作。</p>
        </tr>
        <tr>
            <td width="100px;">产品名称*</td>
            <td colspan=3 width="650px;">
                <input id='pname' class='input' />
            </td>
        </tr>
        <tr>
            <td width="100px;">放贷额度*</td>
            <td>
                <input id='min' class='input' style="width:50px; float:left" /><div style="width:10px; float:left"> ~ </div> <input id='max' class='input' style="width:50px; float:left" />
            </td>
            <td width="400px" colspan="3">
                <span class="input-gray" id="minTip"></span>
            </td>
        </tr>
        <tr>
            <td width="100px;">产品利率*</td>
            <td>
                <select id='typeSel' style="font-weight: bold;width: 100px;">
                    <option value="面议">面议</option>
                    <option value="月利率">月利率</option>
                    <option value="年利率">年利率</option>
                </select>
            </td>
            <td width="100px;">放贷期限*</td>
            <td width="250px">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-calendar"></i></span><input type="text" id="datepicker" style="width: 200px" name="reservation" id="reservation" value="03/18/2013 - 03/23/2013" />
                </div>
            </td>
        </tr>
        <tr>
            <td width="100px;">针对地区*</td>
            <td width="250px">
                <select id="provinceSel" name="provinceSel" class="chosen" style="width: 100px;">
                </select>
                <select id="citySel" name="citySel" class="chosen" style="width: 100px;" >
                </select>
            <td width="100px;">适合用户*</td>
            <td width="250px">
                <select id="clientsSel" class="chosen" multiple="true" style="width:250px;" >
                    <option value="公务员/律师/教师">公务员/律师/教师</option>
                    <option value="企业法人">企业法人</option>
                    <option value="个体工商户">个体工商户</option>
                    <option value="公司职员">公司职员</option>
                    <option value="学生">学生</option>
                    <option value="自由职业者">自由职业者</option>
                </select>
        </tr>
        <tr>
            <td width="100px;">还款方式*</td>
            <td width="250px" colspan="3">
                <select id='repaymethodSel' class="chosen" style="font-weight: bold;width: 200px;">
                    <option value="面议">面议</option>
                    <option value="每月还息，到期还本">每月还息，到期还本</option>
                    <option value="到期本息一次性偿还">到期本息一次性偿还</option>
                    <option value="等额本息">等额本息</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="100px;">产品种类*</td>
            <td colspan=3>
                <select id='producttypeSel' class="chosen" style="font-weight: bold;width: 200px;">
                    <option value="房产/固定资产抵押">房产/固定资产抵押</option>
                    <option value="汽车抵押">汽车抵押</option>
                    <option value="贵重物品">贵重物品</option>
                    <option value="物资抵押">物资抵押</option>
                    <option value="财产权利">财产权利</option>
                    <option value="器械设备">器械设备</option>
                    <option value="贸易单据">贸易单据</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="100px;">产品用途*</td>
            <td colspan=3>
                <select id="usesofloanSel" class="chosen" multiple="true" style="width:400px;" >
                    <option value="消费贷款">消费贷款</option>
                    <option value="短期周转贷款">短期周转贷款</option>
                    <option value="个体户经营贷款">个体户经营贷款</option>
                    <option value="装修贷款">装修贷款</option>
                    <option value="创业贷款">创业贷款</option>
                    <option value="旅游贷款">旅游贷款</option>
                    <option value="一手房按揭贷款">一手房按揭贷款</option>
                    <option value="公积金贷款">公积金贷款</option>
                    <option value="二手房按揭贷款">二手房按揭贷款</option>
                    <option value="新车按揭贷款">新车按揭贷款</option>
                    <option value="购二手车">购二手车</option>
                    <option value="经营性流动资金贷款">经营性流动资金贷款</option>
                    <option value="固定资产贷款">固定资产贷款</option>
                    <option value="设备融资租赁">设备融资租赁</option>
                    <option value="贸易融资">贸易融资</option>
                    <option value="票据贴现">票据贴现</option>
                    <option value="项目贷款">项目贷款</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="100px;">产品介绍*</td>
            <td colspan=3>
                <textarea id="content1" name="content" rows="3" cols="100" style="width: 100%; height: 60px">
                </textarea>
            </td>
        </tr>
        <tr>
            <td width="100px;">业务流程</td>
            <td colspan=3>
                <textarea id="content2" name="content" rows="3" cols="100" style="width: 100%; height: 60px">
                </textarea>
            </td>
        </tr>
        <tr>
            <td width="100px;">申请材料</td>
            <td colspan=3>
                <textarea id="content3" name="content" rows="3" cols="100" style="width: 100%; height: 60px">
                </textarea>
            </td>
        </tr>
        <tr>
            <td width="100px;">常见问题</td>
            <td colspan=3>
                <textarea id="content4" name="content" rows="3" cols="100" style="width: 100%; height: 60px">
                </textarea>
            </td>
        </tr>
    </table>
</div>
</form>
<script type="text/javascript" src="js/cArea.js"></script>