<a target="_blank" href="${link}">
    <div class="hover"
         style="width:786px;height:98px;border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 8px 0px;">
        <div class="p_left"><img width="48" height="48" alt="${poster.lastname}经理"
                                 src="${poster.avatar}">

            <p>${poster.lastname}经理</p>
        </div>
        <div class="p_right" style="box-sizing: content-box;">
            <h5 style="margin-top: 0px;">${pName}</h5>

            <div class="clear_both"></div>
            <span class="p1">${clientLocation}</span>
            <span class="p2">贷款用途：${usesofloan}</span>
            <span class="p2">抵押贷款</span>
            <span style="width: 40px">额度：</span>
            <span class="p4">${min}万-${max}万</span>

            <div class="clear_both"></div>
            <p>${content}</p>
        </div>
    </div>
</a>