<div class="productDetailContainer">
    <div class="cm_content">
        <h3>${title}</h3>
        <table bgcolor="#f0f0f0" width="700" border="0" cellspacing="1">
            <tbody>
            <tr>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#fbfbfb">贷款种类：</td>
                <td width="130" height="32" align="left" valign="middle" bgcolor="#fbfbfb">${lendtype}
                </td>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#fbfbfb">贷款额度：</td>
                <td width="397" height="32" align="left" valign="middle" bgcolor="#fbfbfb">${min} - ${max}    万              </td>
            </tr>
            <tr>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#FFFFFF">贷款利率：</td>
                <td height="32" align="left" valign="middle" bgcolor="#FFFFFF">${rate}
                </td>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#FFFFFF">贷款期限：</td>
                <td height="32" align="left" valign="middle" bgcolor="#FFFFFF">${deadline}</td>
            </tr>
            <tr>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#FBFBFB">针对地区：</td>
                <td height="32" align="left" valign="middle" bgcolor="#FBFBFB">${clientlocation}                            </td>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#FBFBFB">适合用户：</td>
                <td height="32" align="left" valign="middle" bgcolor="#FBFBFB">${clients}
                </td>
            </tr>
            <tr>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#FFFFFF">还款方式：</td>
                <td height="32" align="left" valign="middle" bgcolor="#FFFFFF">${repaymethod}
                </td>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#FFFFFF">贷款用途：</td>
                <td height="32" align="left" valign="middle" bgcolor="#FFFFFF">${usesofloan}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>