<a target="_blank" href="${link}" style="font-size: 12px;">
    <div class="hover"
         style="width:786px;height:78px;border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 8px 0px; ">
        <div class="p_right">
            <h3>${title}</h3>
            <div class="clear_both"></div>
            <span class="p1" style="color: #00802a;">${link}</span>
            <div class="clear_both"></div>
            <p style="color: #444;font-size: small;font-family: arial,sans-serif;"> ${content} </p>
        </div>
    </div>
</a>