<script type="text/javascript" src="js/jQuery.select2Buttons.js"></script>
<link rel="stylesheet" href="css/select2Buttons.css" type="text/css" />
<style type="text/css">
    .filterTitle {
        text-align: right;
        font-weight: bold;
        line-height: 25px;
    }
</style>
<table id="filterTable" style="width: 99%; height: 99%; margin: auto">
    <tr>
        <td class="filterTitle" width="100px;">擅长业务：</td>
        <td width="650px;">
            <select name="simple-select" id="specialistSel">
                <option>不限</option>
                <option>个人贷款</option>
                <option>房屋贷款</option>
                <option>汽车贷款</option>
                <option>企业贷款</option>
                <option>其他</option>
                <option>青帝网帮助</option>
            </select>
        </td>
    </tr>
</table>
<script>
    $('select[name=simple-select]').select2Buttons();
</script>