<div style="width:786px;height:78px;border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 8px 0px;">
    <div class="p_left"><a target="_blank" href="http://www.edai.com/jigou/122921"><img width="48" height="48" alt="孙经理" src="http://www.edai.com/avatar/?userId=661542"></a>
        <p><a target="_blank" href="http://www.edai.com/jigou/122921">孙经理</a></p>
    </div>
    <div class="p_right">
        <h5><a href="http://hf.edai.com/chanpin/499804.html" class="cptit" target="_blank" style="float: left; width: 720px; overflow: hidden;">
            抵押贷款										</a>
            <div class="clear_both"></div>
        </h5>
        <span class="p1">安徽合肥</span>
        <span class="p2">贷款用途：消费贷款、短期周转贷款、个体户经营贷款、创业贷款、旅游贷款、一手房按揭贷款、公积金贷款、二手房按揭贷款、新车按揭贷款、购二手车</span>
        <span class="p2">抵押贷款</span>
        <span style="width: 40px">额度：</span>
        <span class="p4">1万-200万</span>
        <div class="clear_both"></div>
        <p>安徽龙勤投资咨询管理有限公司，额度高，下款快（当天下款），手续简单，额度200万以内，月息两分五，同行合作，...</p>
    </div>
</div>