<div class="row active">
    <div class="col-md-2"><h4>地区：</h4></div>
    <div class="col-md-8" style="margin-top: 3px;">
        <div class="col-xs-1" style="width: 115px;padding-left: 0px;">
            <select id="provinceSel" name="provinceSel" class="form-control">
            </select>
        </div>
        <div class="col-xs-1"  style="width: 130px;">
            <select id="citySel" name="citySel" class="form-control">
            </select>
        </div>
        <div class="col-xs-1" style="width: 100px;">
            <button id="searchLocation" type="button" class="btn btn-info">确定</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"><h4>放贷额度：</h4></div>
    <div class="col-md-8" style="margin-top: 3px;">
        <div class="row">
            <div class="col-xs-1" style="width: 100px;">
                <input id='min' class='form-control' value="0"/>
            </div>
            <h5 style="float: left;">&harr;</h5>
            <div class="col-xs-1" style="width: 100px;">
                <input id='max' class='form-control' value="10"/>
            </div>
            <div class="col-xs-1" style="width: 100px;">
                <button id="searchAmount" type="button" class="btn btn-info">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="row active">
    <div class="col-md-2"><h4>针对用户：</h4></div>
    <div class="col-md-8" style="margin-top: 3px;">
        <select name="simple-select" id="clientSel" class="form-control">
            <option>不限</option>
            <option>公务员/律师/教师</option>
            <option>企业法人</option>
            <option>个体工商户</option>
            <option>公司职员</option>
            <option>学生</option>
            <option>自由职业者</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-2"><h4>贷款用途：</h4></div>
    <div class="col-md-8" style="margin-top: 3px;">
        <select name="simple-select" id="ueseofloanSel" class="form-control">
            <option>不限</option>
            <option>消费贷款</option>
            <option>短期周转贷款</option>
            <option>个体户经营贷款</option>
            <option>装修贷款</option>
            <option>创业贷款</option>
            <option>旅游贷款</option>
            <option>一手房按揭贷款</option>
            <option>公积金贷款</option>
            <option>二手房按揭贷款</option>
            <option>新车按揭贷款</option>
            <option>购二手车</option>
            <option>经营性流动资金贷款</option>
            <option>固定资产贷款</option>
            <option>设备融资租赁</option>
            <option>贸易融资</option>
            <option>票据贴现</option>
            <option>个体户经营贷款</option>
            <option>项目贷款</option>
            <option>创业贷款</option>
            <option>旅游贷款</option>
        </select>
    </div>
</div>