<link rel="stylesheet" type="text/css" href="../../css/style.css" />
<script type="text/javascript" src='../jquery-1.9.1.js'></script>
<script type="text/javascript" src="../modernizr.custom.11333.js"></script>
<script type="text/javascript" src="../jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../timeline.js"></script>

<div id="ss-links" class="ss-links">
    <a href="#2013">2013</a>
    <a href="#2012">2012</a>
</div>
<div id="ss-container" class="ss-container">
    <div class="ss-row">
        <div class="ss-left">
            <h2>12月</h2>
        </div>
        <div class="ss-right">
            <h2 id="2013">2013</h2>
        </div>
    </div>
    <div class="ss-row ss-small">
        <div class="ss-left">
            <a class="ss-circle">2013-08-04</a>
        </div>
        <div class="ss-right">
            <h3>
                <a href="${link}">what's your name?</a>
            </h3>
        </div>
    </div>
    <div class="ss-row ss-small">
        <div class="ss-left">
            <a class="ss-circle">2013-08-04</a>
        </div>
        <div class="ss-right">
            <h3>
                <a href="${link}">what's your name?</a>
            </h3>
        </div>
    </div>
    <div class="ss-row ss-small">
        <div class="ss-left">
            <a class="ss-circle">2013-08-04</a>
        </div>
        <div class="ss-right">
            <h3>
                <a href="${link}">what's your name?</a>
            </h3>
        </div>
    </div>
    <div class="ss-row ss-small">
        <div class="ss-left">
            <a class="ss-circle">2013-08-04</a>
        </div>
        <div class="ss-right">
            <h3>
                <a href="${link}">what's your name?</a>
            </h3>
        </div>
    </div>
</div>
