<div class="productDetailContainer">
    <div class="cm_content" id="transaction_${id}">
        <h3>${title}</h3>
        <table bgcolor="#f0f0f0" width="700" border="0" cellspacing="1">
            <tbody>
            <tr>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#fbfbfb">借贷者：</td>
                <td width="130" height="32" align="left" valign="middle" bgcolor="#fbfbfb">${loaner}
                </td>
                <td width="80" height="32" align="left" valign="middle" bgcolor="#fbfbfb">交易时间：</td>
                <td width="397" height="32" align="left" valign="middle" bgcolor="#fbfbfb">${date}</td>
            </tr>
            <tr>
                <td colspan="4" width="80" height="32" align="left" valign="middle" bgcolor="#FFFFFF">${commonts}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>