<form action="" method="post" name="transactionForm" id="transactionForm">
<div id='Wrapper' style="width:750px;">
    <div class="hd" style="width:750px; height:32px">
        <div class="newsTitle" id="newsTitle" style="margin-top: 10px">添加成功案例</div>
        <div id="actionWrapper" style="width:160px;height: 59px;float: right">
			<button id='submit' type="button" class="btn btn-default">提交</button>
        </div>
    </div>

    <table border="0" style="width:100%; margin-bottom: 10px">
        <tr>
            <p class="hs-description" style="color: #666;padding: 5px 0 0 5px;line-height: 22px;">请填写完整的店铺资料，带‘*’为必填，否则不能进行任何操作。</p>
        </tr>
        <tr>
            <td width="100px;">标题*</td>
            <td colspan=2 >
                <div id="titleWrapper" style="width:650px;float: left">
					<input id='title' class="form-control" placeholder="标题" style="width:550px; float:left" />
                </div>
            </td>
        </tr>
        <tr>
            <td width="100px;">借贷者*</td>
            <td colspan=2 >
				<input id='loaner' class="form-control" style="width:550px; float:left" />
            </td>
        </tr>
        <tr>
            <td width="100px;">金额*</td>
            <td width="250px">
				<input id='amount' class="form-control" style="width:200px; float:left" />
			</td>
            <td width="400px">
                <span class="input-gray" id="amountTip"></span>
            </td>
        </tr>
<!--        <tr>
            <td width="100px;">图片*</td>
            <td colspan=2>
                <input id='frontcover' class='largeBtn' type="button" style="float: left" value='上传' />
            </td>
        </tr>  -->
        <tr>
            <td width="100px;" Valign="top">内容*</td>
            <td colspan=2 width="650px;">
                <textarea id="content" name="content" rows="3" cols="100" style="width: 100%; height: 250px">
                </textarea>
            </td>
        </tr>
    </table>
</div>
</form>