<div id='Wrapper' style="width:750px; height: 500px;">
	<h3>修改展示</h3>
    <div class="hd" style="width:750px;">
        
        <div style="clear: both"></div>
    </div>
    <div id="categoryWrapper" style="float: left;">
        <select id="categorySel" class="form-control" style="width:130px;">
			<option value="index">首页</option>
            <option value="supply">贷款首页</option>
            <option value="demand">需求首页</option>
            <option value="product">产品首页</option>
            <option value="specialist">顾问首页</option>
            <option value="q">问题模板</option>
            <option value="p">博客模板</option>
        </select>
    </div>
    <div style="clear: both"></div>
    <div id="contentWrapper" style="width:100%;margin-top: 10px;">
        <textarea id="content" name="content" style="height: 350px; width: 100%">
        </textarea><br/><br/>
    </div>
	<div id="actionWrapper" style="float: right">
		<button id="preview" type="button" class="btn btn-info">预览</button>
		<button id="submit" type="button" class="btn btn-info">提交</button>
	</div>
</div>