<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:org/springframework/beans/factory/xml/spring-beans-3.1.xsd
  http://www.springframework.org/schema/context classpath:org/springframework/context/config/spring-context-3.1.xsd
  http://www.springframework.org/schema/tool classpath:org/springframework/beans/factory/xml/spring-tool-3.1.xsd">

	<context:component-scan base-package="com.qingdy" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/QingDy?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="username" value="qingdy" />
		<property name="password" value="qingdy" />
		<property name="maxActive" value="100" />
		<property name="maxIdle" value="30" />
		<property name="maxWait" value="1000" />
		<property name="defaultAutoCommit" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="60" />
		<property name="logAbandoned" value="true" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingResources">
			<list>
				<value>com/qingdy/model/query.xml</value>
				<value>com/qingdy/model/User.hbm.xml</value>
   				<value>com/qingdy/model/Blog.hbm.xml</value>
				<value>com/qingdy/model/Evaluate.hbm.xml</value> 
				<value>com/qingdy/model/UserDetail.hbm.xml</value>
				<value>com/qingdy/model/Mall.hbm.xml</value>
				<value>com/qingdy/model/Product.hbm.xml</value>
				<value>com/qingdy/model/Loan.hbm.xml</value>
				<value>com/qingdy/model/Question.hbm.xml</value>
				<value>com/qingdy/model/Answer.hbm.xml</value>
				<value>com/qingdy/model/News.hbm.xml</value>
				<value>com/qingdy/model/Transaction.hbm.xml</value>
				<value>com/qingdy/model/Score.hbm.xml</value>
				<value>com/qingdy/model/Message.hbm.xml</value>
				<value>com/qingdy/model/Visit.hbm.xml</value>
				<value>com/qingdy/model/Favourite.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.connection.useUnicode">true</prop>
	            <prop key="hibernate.connection.characterEncoding">UTF8</prop>
	            <prop key="hibernate.connection.charSet">UTF8</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
<!-- 		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property> -->
	</bean>
	
	<!-- Use the HibernateAware mapper instead of the default 
	<bean
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="objectMapper">
			<bean class="com.fasterxml.jackson.datatype.hibernate4.HibernateAwareObjectMapper" />
		</property>
	</bean>-->

 	<bean id="daoTemplate" abstract="true" lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="dao" class="com.qingdy.dao.hibernate.BaseDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="blogDao" class="com.qingdy.dao.hibernate.BlogDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="evaluateDao" class="com.qingdy.dao.hibernate.EvaluateDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="userDao" class="com.qingdy.dao.hibernate.UserDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="userDetailDao" class="com.qingdy.dao.hibernate.UserDetailDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="answerDao" class="com.qingdy.dao.hibernate.AnswerDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="loanDao" class="com.qingdy.dao.hibernate.LoanDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="mallDao" class="com.qingdy.dao.hibernate.MallDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="newsDao" class="com.qingdy.dao.hibernate.NewsDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="productDao" class="com.qingdy.dao.hibernate.ProductDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="specialistDao" class="com.qingdy.dao.hibernate.SpecialistDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="questionDao" class="com.qingdy.dao.hibernate.QuestionDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="transactionDao" class="com.qingdy.dao.hibernate.TransactionDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="scoreDao" class="com.qingdy.dao.hibernate.ScoreDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="messageDao" class="com.qingdy.dao.hibernate.MessageDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="timelineDao" class="com.qingdy.dao.hibernate.TimelineDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="visitDao" class="com.qingdy.dao.hibernate.VisitDaoHibernate"
		parent="daoTemplate">
	</bean>
	<bean id="favouriteDao" class="com.qingdy.dao.hibernate.FavouriteDaoHibernate"
		parent="daoTemplate">
	</bean>

	<bean id="transactionManager"
	    class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
		
	<bean id="txProxyTemplate" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED, readOnly</prop>
			</props>
		</property>
	</bean>

<!-- 	<bean id="facadeManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.qingdy.service.impl.FacadeManagerImpl">
				<property name="blogDao" ref="blogDao"></property>
				<property name="evaluateDao" ref="evaluateDao"></property>
				<property name="userDao" ref="userDao"></property>
			</bean>
		</property>
	</bean> -->
	
	<bean id="restResource" class="com.qingdy.rest.Resources"></bean>
	<bean id="qingdyApplication" class="com.qingdy.provider.QingDyJacksonJaxbJsonProvider"></bean>
	<bean class="org.apache.wink.spring.Registrar">
		<property name="classes">
			<set value-type="java.lang.Class">
			</set>
		</property>
		<property name="instances">
			<set>
				<ref bean="restResource"></ref>
				<ref bean="qingdyApplication"></ref>
			</set>
		</property>
	</bean>
</beans>