<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QingDy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharactorFilter</filter-name>
    <filter-class>com.qingdy.filter.CharactorFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharactorFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Answer</servlet-name>
    <servlet-class>com.qingdy.service.Answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer</servlet-name>
    <url-pattern>/rest/metadata/answers/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Areas</servlet-name>
    <servlet-class>com.qingdy.service.Areas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Areas</servlet-name>
    <url-pattern>/rest/metadata/areas/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Banks</servlet-name>
    <servlet-class>com.qingdy.service.Banks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Banks</servlet-name>
    <url-pattern>/rest/metadata/banks/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Blog</servlet-name>
    <servlet-class>com.qingdy.service.Blog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blog</servlet-name>
    <url-pattern>/rest/metadata/blogs/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Clients</servlet-name>
    <servlet-class>com.qingdy.service.Clients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clients</servlet-name>
    <url-pattern>/rest/metadata/clients/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Favourite</servlet-name>
    <servlet-class>com.qingdy.service.Favourite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Favourite</servlet-name>
    <url-pattern>/rest/metadata/favourites/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LendType</servlet-name>
    <servlet-class>com.qingdy.service.LendType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LendType</servlet-name>
    <url-pattern>/rest/metadata/lendType/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Link</servlet-name>
    <servlet-class>com.qingdy.service.Link</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Link</servlet-name>
    <url-pattern>/rest/metadata/links/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Loan</servlet-name>
    <servlet-class>com.qingdy.service.Loan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loan</servlet-name>
    <url-pattern>/rest/metadata/loans/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mall</servlet-name>
    <servlet-class>com.qingdy.service.Mall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mall</servlet-name>
    <url-pattern>/rest/metadata/malls/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Member</servlet-name>
    <servlet-class>com.qingdy.service.Member</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Member</servlet-name>
    <url-pattern>/rest/metadata/members/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Message</servlet-name>
    <servlet-class>com.qingdy.service.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/rest/metadata/messages/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>News</servlet-name>
    <servlet-class>com.qingdy.service.News</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/rest/metadata/news/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsClasses</servlet-name>
    <servlet-class>com.qingdy.service.NewsClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsClasses</servlet-name>
    <url-pattern>/rest/metadata/newsclasses/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pawn</servlet-name>
    <servlet-class>com.qingdy.service.Pawn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pawn</servlet-name>
    <url-pattern>/rest/metadata/pawns/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Product</servlet-name>
    <servlet-class>com.qingdy.service.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/rest/metadata/products/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question</servlet-name>
    <servlet-class>com.qingdy.service.Question</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/rest/metadata/questions/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionClasses</servlet-name>
    <servlet-class>com.qingdy.service.QuestionClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionClasses</servlet-name>
    <url-pattern>/rest/metadata/questionclasses/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RateType</servlet-name>
    <servlet-class>com.qingdy.service.RateType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateType</servlet-name>
    <url-pattern>/rest/metadata/ratetype/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepayMethod</servlet-name>
    <servlet-class>com.qingdy.service.RepayMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepayMethod</servlet-name>
    <url-pattern>/rest/metadata/repaymethod/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Speciality</servlet-name>
    <servlet-class>com.qingdy.service.Speciality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Speciality</servlet-name>
    <url-pattern>/rest/metadata/speciality/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>com.qingdy.service.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/rest/metadata/transactions/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsesOfLoan</servlet-name>
    <servlet-class>com.qingdy.service.UsesOfLoan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsesOfLoan</servlet-name>
    <url-pattern>/rest/metadata/usesofloan/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.qingdy.service.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/rest/metadata/upload/*</url-pattern>
  </servlet-mapping>
</web-app>